.modal-produto{
    width: 270px !important;
}
.form-produto input {
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px;
    color: grey;
    border: 0;
    font-weight: 100;
}

.form-produto input[type="text"]:focus {
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px;
    color: grey;
    border: 0;
}
